/*
* CSS 'Constants'
*
* Background:#ffffff
* Deep Gray, text:#3a3838
* Main content background:#f1f1f1
*
*/

* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: small;
	color: #222;
	text-decoration: none;}

a:hover {
	text-decoration: underline;
}

.logo{
	display: flex;
	margin-top:15vh;
	justify-content: center;
}

.search{
	text-align: center;
}

input[type=text]{
	height:25px;
	width: 36%;
	border-radius: 50px;
	border: 1px solid #dfe1e5;
	padding: 10px;
	padding-left: 45px;
	padding-right: 35px;
	background: transparent;
}

input[type=text]:focus, input[type=text]:hover{
	border: 1px solid transparent;
	box-shadow: 0px 0px 2px grey;
	border-radius: 50px;
	padding-left: 45px;
}

#srch-icon{
	opacity: 0.45;
	position: absolute;
	padding: 12px 21px 10px 12px;  
	transform: scale(.85);
}

#mic-icon{
	opacity: 0.45;
	position: absolute;
	margin: 12px -38px;
}

.btngrp{
	text-align: center;
	margin: 11px 4px;
}

.btn{
	border: 1px solid transparent;
	background: linear-gradient(to bottom right,#f1f0f0, #dfdcdc);
	min-width: 54px;
	height: 35px;
	text-align: center;
	margin: 11px 4px;
	padding: 0px 15px;
	border-radius: 4px;
}

.btn:hover{
	border: 1px solid #dfdcdc;
	background: linear-gradient(to bottom right,#fcfcfc, #f3f1f1)
}

#nav{
	display: flex;
	height: 44px;
	justify-content: space-between;
}

#navbottom{
	position: fixed;
	bottom: 0;
	width: 100%;
}

#footer{
	display: flex;
	height: 44px;
	justify-content: space-between;
	background-color: #f1f0f0;
	width: 100%;
}	

.left-nav, .left-footer {
	display: flex;
	align-items: center;}

.left-nav a, .left-footer a {
	padding-left: 20px;}

.right-nav, .right-footer {
	display: flex;
    align-items: center;}

.right-nav a, .right-footer a {
	padding-right: 20px;}

.grid img {
	height: 30px;
	width: 30px;
    opacity: .7;}

.grid img:hover {
	opacity: 1;
	cursor: pointer;}

.right-nav a button {
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid #4285f4;
	color: #fff;
	font-weight: bold;
	padding: 6px 12px;
	border-radius: 2px;}

.right-nav a button:hover {
	background: -webkit-linear-gradient(top,#2d79fc,#175bcf);
	border: 1px solid #2f76e7;}

@media only screen
	and (max-width: 830px) {
		input[type=text] {
			width: 65%;
		}
		.right-footer {
			display: none;
		}
		.left-footer{
			margin-bottom: 1px;
		}
	}	

@media only screen
	and (max-width: 480px) {
		.left-footer a{
			font-size: 12px;
		}
	}	