/*
* CSS 'Constants'
*
* Background:#ffffff
* Deep Gray, text:#3a3838
* Main content background:#f1f1f1
*
*/
* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #222;
	text-decoration: none;
}

#main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
}

#nav {
	display: flex;
	height: 44px;
	justify-content: space-between;
}

.left-nav {
	display: flex;
	align-items: center;
}

.left-nav a:hover {
	text-decoration-line: underline;
	cursor: pointer;
}
.left-nav a {
	padding-left: 20px;
}

.right-nav {
	display: flex;
    align-items: center;
}

.right-nav a:hover {
	text-decoration-line: underline;
	cursor: pointer;
}

.right-nav a {
	padding-right: 20px;
}

.grid img {
	height: 30px;
	width: 30px;
    opacity: .7;
}

.grid img:hover {
	opacity: 1;
	cursor: pointer;
}

.right-nav a button {
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid #4285f4;
	color: #fff;
	font-weight: bold;
	padding: 6px 12px;
	border-radius: 2px;
}